<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>

<body>
    <h1>Create Excel sheet from Miro schema</h1>

    <p id="board-error"></p>
    <div id="select-board">
        <p>Select the board<select id="board"></select></p>
        <p id="frame-error"></p>
    </div>

    <div id="select-frame">
        <p>Select the frame from which to create the schema for<select id="frame"></select></p>
        <p id="start-error"></p>
    </div>

    <div id="select-start">
        <p>Select node to begin with<select id="start"></select></p>
    </div>

    <button id="run">Download excel</button>
</body>

</html>